* {
  font-family: 'Noto Serif TC';
  font-size: 24px;
  font-style: normal;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1.2px;
}

h6 {
  font-size: 20px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

.object-cover {
  object-fit: cover;
}

//Footer
.footer {
  .footer-logo {
    width: 196px;
  }
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    &:hover {
      border-color: $primary;
    }
    i {
      font-size: 24px;
      color: white;
      &:hover {
        color: $primary;
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $primary;
    }
  }
}
