* {
  font-family: 'Noto Serif TC';
  font-size: 24px;
  font-style: normal;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1.2px;
}

h1 {
  font-size: 48px;
  @media screen and (max-width: 767px) {
    font-size: 32px;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

h6 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 24px;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}
.object-cover {
  object-fit: cover;
}

//swiper
.swiper-pagination-bullet {
  border-radius: 0% !important;
  width: 32px !important;
  height: 4px !important;
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  width: 60px !important;
  background-color: $primary !important;
}

//Footer
.footer {
  .footer-logo {
    width: 196px;
  }
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    &:hover {
      border-color: $primary;
    }
    i {
      font-size: 24px;
      color: white;
      &:hover {
        color: $primary;
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $primary;
    }
  }
}
