ul {
  list-style-type: none;
}

ul {
  padding: 0;
}

ol li {
  line-height: 2;
  font-size: 16px;
}

ol {
  padding-left: 0.8rem;
}

.react-datepicker__input-container input,
.react-datepicker__input-container input:focus,
.react-datepicker__input-container input:hover {
  border: transparent;
  width: 80%;
}
