.reserve-section {
  padding: 80px 0;
  border-bottom: 1px solid white;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: unset;
  }
}

.reserve-section-title {
  margin-bottom: 40px;
}

.reserve-page {
  padding: 40px 0;

  @media screen and (min-width: 1024px) {
    padding: 80px 0;
  }
}

.reserve-button {
  padding: 16px 60px;
}
