.reserve-section-title {
  margin-bottom: 40px;
}

.reserve-section-divider {
  color: #909090;
}

.reserve-page {
  padding: 120px 0;
}

.reserve-page-title {
  margin-bottom: 40px;
}
